body {
  width: 100vw;
  font-size:100%
}

#intro {
  color: #fff;
  background: url(../img/sfj.JPG) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .69);
  background-blend-mode: soft-light;
  font-family:hind, sans-serif
}

#intro-sac {
  color: #fff;
  background: url(../img/shanghaialumniclub.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .69);
  background-blend-mode: soft-light;
  font-family:libre baskerville, serif
}

.project-tile {
  margin-bottom: .5rem;
  vertical-align: middle;
  color: #fff;
  padding-top: .7rem;
  font-size: 1.3rem;
  text-align: left;
  transition: 1s;
  display: inline;
  font-weight:900
}

.project-tile--black {
  margin-bottom: .5rem;
  vertical-align: middle;
  color: #000;
  padding-top: .7rem;
  font-size: 1.3rem;
  text-align: left;
  transition: 1s;
  display: inline;
  font-weight:900
}

.projects {
  text-align: left;
  display:flex
}


.header {
  position: fixed;
  width:100vw
}

.header-icon {
  margin-left:.2em
}

.header span {
  margin-left: 1.5rem;
  margin-right:1rem
}

.header img {
  padding:1rem
}

span {
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-top:.2rem
}

#bluemoon {
  color: #fff;
  background: url(../img/bluemoon.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, .69);
  background-blend-mode:soft-light
}

#swinglytics {
  color: #fff;
  background: url(../img/swinglytics.jpg) no-repeat center;
  background: url(../img/swinglytics.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, .69);
  background-blend-mode:soft-light
}

.content--centered {
  justify-content: center;
  display:flex
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap:wrap
}

wrapper {
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom:8rem
}

wrapperimprint {
  max-width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top:30vh
}

.social-icons i {
  color: #fff;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  font-size:.8rem
}

.divider {
  margin-top: 3rem;
  margin-bottom: 0;
  color: #fff;
  padding-bottom: .3rem;
  text-align: left;
  transition: 1s;
  display: inline;
  font-weight: 100;
  text-transform:uppercase
}

.button {
  padding: 1rem;
  width: 8rem;
  color: #8b1a24;
  background-color: #fff;
  border-radius:.3rem
}

.button1 {
  margin-top: 1rem;
  padding: 1rem;
  max-width: 10rem;
  color: #8b1a24;
  background-color: #fff;
  border-radius:.3rem
}

.social-icons i:hover {
  color: #ffd83f;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition:1s
}

.fa, .fab, .fac, .far, .fas {
  padding:.5rem
}

.title--intro {
  letter-spacing: 0;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  transition:1s
}

.pa {
  padding-right:.3rem
}

.intro--desc {
  letter-spacing: 0;
  font-size: 2rem;
  transition:1s
}

.title--intro--sac {
  font-size: 2.8rem;
  text-transform: uppercase;
  transition:1s
}

a {
  color: #fff;
  text-decoration:none
}

a:hover {
  color: #ffd83f;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition:1s
}

@media only screen and (max-width: 35em) {
  .title--intro {
    letter-spacing: 0;
    font-family: hind, sans-serif;
    font-weight: 600;
    font-size: 200%;
    text-transform: uppercase;
    transition:1s
  }

  .intro--desc {
    letter-spacing: 0;
    font-weight: 100;
    font-size: 150%;
    transition:1s
  }

  wrapper {
    max-width: 100vw;
    margin-left: 10vw;
    margin-right: 5vw;
    margin-top: 8rem;
    margin-bottom: 8rem
  }
}

